<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='IA.css') }}">
</head>
<body>
    <h1>Algoritmo genetico</h1>
    <h2>Funcion</h2>
    <h2>Ingrese los datos:</h2>
    <form method="POST" action="/procesar_formulario">
        <a>Datos poblacion incial</a><br><br>

        <a>Valor del intervalo inferior:</a>
        <input name="inferior"> </input><br>
        <a>Valor del intervalo superior:</a>
        <input name="superior"> </input><br>
        <a>Poblacion incial:</a>
        <input name="inicial"> </input><br>
        <a>Poblacion maxima:</a>
        <input name="maxima"> </input><br>
        <a>Generaciones:</a>
        <input name="iteraciones"> </input><br>
        <a>Resolución deseada:</a>
        <input name="resolucion"> </input><br>

        <a>"maximizar" o "minimizar":</a>
        <input name="problema"> </input><br>

        <br><br><a>Datos cruza y mutacion</a><br><br>

        <a>Porcentaje de mutacion del individuo:</a>
        <input name="pmi"> </input><br>
        <a>Porcentaje de mutacion de gen:</a>
        <input name="pmg"> </input><br>

        <input type="submit" value="Aceptar">

    </form>
    
    <div>
        <br><br><a>CALCULOS</a><br><br>

        <a>Rango:</a>
        <a>{{ rango }}</a><br>
        <a>Nueva resolucion:</a>
        <a>{{ nResolucion | default('') | float | round(4) }}</a><br>
        <a>Numero de bits:</a>
        <a>{{ bits }}</a><br>
        <a>Numero de puntos:</a>
        <a>{{ puntos }}</a><br><br>
        
    </div>

    <table>
        <tr>
            <th>individuos en binario</th>
            <th>i</th>
            <th>x</th>
            <th>f(x)</th>
        </tr>

        {% for i in range(poblacion|length) %}
        <tr>
            <td>{{ poblacion[i] }}</td>
            <td>{{ iDecimal[i] }}</td>
            <td>{{ x[i] | default('') | round(4) if x[i] is defined }}</td>
            <td>{{ fx[i] | default('') | round(4) if fx[i] is defined }}</td>
        </tr>
        {% endfor %}
        
    </table>

    <table>
        <h1>Tabla de evaluacion FINAL</h1>
        <tr>
            <th>Mejor</th>
            <th>Peor</th>
            <th>Promedio</th>
        </tr>
        {% for i in range(mejorCaso|length) %}
        <tr>
            <td>{{ mejorCaso[i] | default('') | round(4) if mejorCaso[i] is defined }}</td>
            <td>{{ peorCaso[i] | default('') | round(4) if peorCaso[i] is defined }}</td>
            <td>{{ promedio[i] | default('') | round(4) if promedio[i] is defined }}</td>
        </tr>
        {% endfor %}
    </table>
<!--oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->
{% if bandera %}
<img src="{{ url_for('static', filename='grafica_evaluacion.png') }}" alt="Descripción de la imagen"><br>
{% for i in range(iteraciones+1) %}
    <table>
        <tr>
            <th>individuos en binario</th>
            <th>i</th>
            <th>x</th>
            <th>f(x)</th>
        </tr>

        {% for j in range(poblacionCopia[i]|length) %}
            <tr>
                <td>{{ poblacionCopia[i][j] }}</td>
                <td>{{ iDecimalCopia[i][j] }}</td>
                <td>{{ xCopia[i][j] | default('') | round(4) if xCopia[i][j] is defined }}</td>
                <td>{{ fxCopia[i][j] | default('') | round(4) if fxCopia[i][j] is defined }}</td>
            </tr>
        {% endfor %}


        
    </table>
    <!--<img src="{{ url_for('static', filename='grafica_generacion_' + loop.index0|string + '.png') }}" alt="Descripción de la imagen">-->
    <img src="{{ url_for('static', filename='generaciones/' + loop.index0|string + '.png') }}" alt="Descripción de la imagen">


    {% endfor %}
    <img src="{{ url_for('static', filename='grafica_generacion_final.png') }}" alt="Descripción de la imagen">
    <!--<img src="{{ url_for('static', filename='grafica.png') }}" alt="Descripción de la imagen">-->
    {% endif %}
</body>
</html>